<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand"> &copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/terms">Terms of Service</a> 
            <a href="/privacy">Privacy Policy</a>
        </div>
    </div>
</footer>