<% layout("/layouts/boilerplate") %>
<body> <br>
 <div class="row">
    <div class="col-8 offset-2">
    <h3> Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text"  name="listing[title]" placeholder="Enter Title" class="form-control" required>
        </div> 
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required></textarea>
        </div>
     

        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image </label>
            <input type="file" name="listing[image]" class="form-control" required>
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number"  name="listing[price]" placeholder="Enter Price" class="form-control" required>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text"  name="listing[country]" placeholder="Enter Country" class="form-control" required>
        </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text"  name="listing[location]" placeholder="Enter Location" class="form-control" required>
        </div>
        <button class="btn btn-dark mb-3 add-btn">Create Listing</button>
    </form>
    </div>
 </div> 
</body>

