 body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 
.container{
    flex:1;
}

/* NAVBAR */
.navbar{
    height: 5rem;
    background-color: rgb(226, 221, 221);
}
.fa-compass{
    color: #d72632;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
    font-size: 1.3rem !important;
}

/* FOOTER */
.f-info-links{
    color: #222222;
    text-decoration: none;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    height: 8rem;
    background-color:rgb(226, 221, 221) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

.f-info-links, 
.f-info-socials,
.f-info-brand 
{
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;

}
.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.5rem;
}


/* Styling for CARDS   */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn{
    background-color: #04315f !important;
    border: none !important;
}

/* SHOW PAGE */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;

}

/* MAP */
#map { 
    height: 380px;
    width: 85vh;
 }
